app-home-layout {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
}

app-root > ngx-sidenav {
  flex: 1;
}

app-root > ngx-home-layout,
app-root > ngx-dashboard-layout,
app-root > ngx-admin-layout {
  overflow-y: auto;
}

//SUMO
@media (max-width: 599px) {
  ngx-home-layout {
    top: 92px;
  }

  app-root > ngx-home-layout,
  app-root > ngx-dashboard-layout,
  app-root > ngx-admin-layout {
    overflow-y: visible;
  }
}
