/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@import './styles/typography';
@import './app-theme';
@import './styles/preloader';
@import './styles/base';
@import './styles/global';

/* Include material core styles.
-------------------------------------------------- */
@include mat-core($custom-typography);

/* Define the light theme.
-------------------------------------------------- */
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include custom-components-theme($theme);

/* Used by Home only
-------------------------------------------------- */
$alt-primary: mat-palette($mat-yellow);
$alt-accent: mat-palette($mat-grey, 200);
$alt-theme: mat-dark-theme($alt-primary, $alt-accent);

.alternative {
  @include angular-material-theme($alt-theme);
  //@include custom-components-theme($alt-theme);
}

/* 3rd party
-------------------------------------------------- */
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import '~filepond/dist/filepond.min.css';
@import '~filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css';
