@ngx-starter-kit:registry=https://registry.npmjs.org/
@xmlking/ngx-knob:registry=https://npm.pkg.github.co
@xmlking/api-ai-javascript:registry=https://registry.npmjs.org/
@xmlking/jwks-rsa:registry=https://registry.npmjs.org/
