@import '~@angular/material/theming';

/* PRE LOADER
-------------------------------------------------- */
@import '~loaders.css/src/animations/line-scale';
@import '~loaders.css/src/animations/line-scale-pulse-out';


// Mixin to apply theme colors for both generated API docs and markdown docs (guides/overviews).
@mixin default-site-loader-theme($theme) {
  $background: map-get($theme, background);

  .loader {
    background: mat-color($background, background);
    display: table;
    height: 100%;
    max-width: 100%;
    position: absolute;
    width: 100%;
    z-index: 99999;

    .loader-inner {
      backface-visibility: hidden;
      display: table-cell;
      overflow: hidden;
      text-align: center;
      vertical-align: middle;
    }
  }

}


