@import '~@angular/material/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker hue.
// $theme-primary: mat-palette($mat-teal);
// $theme-accent:  mat-palette($mat-light-blue, 500, 200, 700);

$theme-primary-hue: 700;
$theme-accent-hue: 500;
$theme-warn-hue: 500;

$theme-primary: mat-palette($mat-blue-grey, $theme-primary-hue, 500, 900);
$theme-accent: mat-palette($mat-blue, $theme-accent-hue);
$theme-warn: mat-palette($mat-red, $theme-warn-hue);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include angular-material-theme($theme);

/**
 USAGE:
  .my-class {
    color: mat-color($color-primary);
  }
*/

$color-primary: map-get($theme, primary);
$color-accent: map-get($theme, accent);
$color-warn: map-get($theme, warn);

/**
 USAGE:
  .my-class {
    @include mat-typography-level-to-styles($config, input);
  }
*/

$config: mat-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif',
  $display-4: mat-typography-level(112px, 112px, 300),
  $display-3: mat-typography-level(56px, 56px, 400),
  $display-2: mat-typography-level(45px, 48px, 400),
  $display-1: mat-typography-level(28px, 34px, 400),
  $headline: mat-typography-level(24px, 32px, 400),
  $title: mat-typography-level(20px, 32px, 500),
  $subheading-2: mat-typography-level(18px, 28px, 400),
  $subheading-1: mat-typography-level(16px, 24px, 400),
  $body-2: mat-typography-level(14px, 24px, 500),
  $body-1: mat-typography-level(14px, 22px, 400),
  $caption: mat-typography-level(13px, 22px, 400),
  $button: mat-typography-level(14px, 14px, 500),
    // Line-height must be unit-less fraction of the font-size.
  $input: mat-typography-level(16px, 1.125, 400)
);

/**
 USAGE:
  .my-class {
    background: $theme-background;
  }
*/

$theme-foreground-map: map-get($theme, foreground);
$theme-background-map: map-get($theme, background);
$theme-primary-map: map-get($theme, primary);
$theme-accent-map: map-get($theme, accent);
$theme-warn-map: map-get($theme, warn);

$theme-text: mat-color($theme-foreground-map, text);
$theme-hint-text: mat-color($theme-foreground-map, hint-text);
$theme-secondary-text: mat-color($theme-foreground-map, secondary-text);
$theme-divider: mat-color($theme-foreground-map, divider);
$theme-icon: mat-color($theme-foreground-map, icon);

$theme-background: #f0f0f0;
//$theme-background: mat-color($theme-background-map, background);
$theme-background-light: mat-color($theme-background-map, background);
$theme-app-bar: mat-color($theme-background-map, app-bar);
$theme-background-hover: mat-color($theme-background-map, hover);

$theme-card: mat-color($theme-background-map, card);

$theme-color-primary: mat-color($color-primary);
$theme-color-accent: mat-color($color-accent);
$theme-color-warn: mat-color($color-warn);

$theme-color-primary-contrast: mat-contrast($color-primary, $theme-primary-hue);
$theme-color-accent-contrast: mat-contrast($color-accent, $theme-accent-hue);
$theme-color-warn-contrast: mat-contrast($color-warn, $theme-warn-hue);

/**
  General
 */
$color: $theme-text;
$color-success: #7cb342;
$spacing: 24px;
$spacing-small: 18px;
$elevation: 2;
$border-radius: 2px;

/**
  Card
 */
$card-header-height: 64px;
$card-elevation: $elevation;

/**
  Toolbar
 */
$toolbar-background: white;
$toolbar-height: 64px;
$toolbar-z-index: 500;

$toolbar-button-width: 64px;
$toolbar-button-icon-color: $theme-icon;
$toolbar-elevation: $elevation;

/**
  Footer
 */
$footer-height: 56px;
$footer-background: $theme-app-bar;
$footer-elevation: 0;
$footer-z-index: 700;

// Sidenav Toolbar

$sidenav-toolbar-background: #272B35;
$sidenav-toolbar-height: $toolbar-height;
$sidenav-toolbar-elevation: $elevation;

// Sidenav

$sidenav-color: #A7A9AE;

$sidenav-background: #2B303B;
$sidenav-background-hover: darken($sidenav-background, 4);
$sidenav-background-active: $sidenav-background-hover;

// Sidenav Levels

$sidenav-background-level1: darken($sidenav-background, 2.5);
$sidenav-background-level1-hover: darken($sidenav-background-level1, 3);
$sidenav-background-level1-active: $sidenav-background-level1-hover;

$sidenav-background-level2: darken($sidenav-background-level1, 2.5);
$sidenav-background-level2-hover: darken($sidenav-background-level2, 1.5);
$sidenav-background-level2-active: $sidenav-background-level2-hover;

$sidenav-background-level3: darken($sidenav-background-level2, 2.5);
$sidenav-background-level3-hover: darken($sidenav-background-level3, 1.5);
$sidenav-background-level3-active: $sidenav-background-level3-hover;

$sidenav-background-level4: darken($sidenav-background-level3, 2.5);
$sidenav-background-level4-hover: darken($sidenav-background-level4, 1.5);
$sidenav-background-level4-active: $sidenav-background-level4-hover;

$sidenav-background-level5: darken($sidenav-background-level4, 2.5);
$sidenav-background-level5-hover: darken($sidenav-background-level5, 1.5);
$sidenav-background-level5-active: $sidenav-background-level5-hover;

$sidenav-background-level6: darken($sidenav-background-level5, 2.5);
$sidenav-background-level6-hover: darken($sidenav-background-level6, 1.5);
$sidenav-background-level6-active: $sidenav-background-level6-hover;

// Sidenav Item

$sidenav-item-color: rgba(255, 255, 255, 0.7);
$sidenav-item-color-hover: white;
$sidenav-item-font-size: 14px;
$sidenav-item-icon-font-size: 22px;

$sidenav-item-height: 48px;
$sidenav-item-padding-left: 24px;
$sidenav-item-padding-right: 24px;
$sidenav-item-padding-left-level2: $sidenav-item-padding-left + $sidenav-item-icon-font-size;
$sidenav-item-padding-left-level3: $sidenav-item-padding-left-level2 + 8px;
$sidenav-item-padding-left-level4: $sidenav-item-padding-left-level3 + 8px;
$sidenav-item-padding-left-level5: $sidenav-item-padding-left-level4 + 8px;
$sidenav-item-padding-left-level6: $sidenav-item-padding-left-level5 + 8px;

$sidenav-width: 270px; // If you change this, you also need to adjust the animations in sidenav.component.ts
$sidenav-collapsed-width: ($sidenav-item-padding-left + $sidenav-item-padding-right + $sidenav-item-icon-font-size); // If you change this, you also need to adjust the animations in sidenav.component.ts
$sidenav-z-index: 1000;

/**
  Mixins
 */
$media-xs: 'screen and (max-width: 599px)';
@mixin media-xs {
  @media #{$media-xs} {
    @content;
  }
}

$media-sm: 'screen and (min-width: 599px) and (max-width: 959px)';
@mixin media-sm {
  @media #{$media-sm} {
    @content;
  }
}

/**
  Inbox
 */
$inbox-header-height: 64px;
$inbox-searchbar-height: 54px;
$inbox-star-color: #ffc107;
$inbox-mail-list-item-height: 54px;
