//Ref: https://github.com/angular/material.angular.io/blob/master/src/_app-theme.scss
@import '~@angular/material/theming';

@import '../../../libs/home/src/containers/landing/landing.component-theme';
@import '../../../libs/shared/src/components/footer/footer.component-theme';
@import '../../../libs/home/src/components/header/header.component-theme';
@import '../../../libs/admin/src/containers/admin-layout/admin-layout.component-theme';
@import '../../../libs/admin/src/components/side-menu/side-menu.component-theme';
@import '../../../libs/admin/src/components/side-menu-item/side-menu-item.component-theme';
@import '../../../libs/admin/src/components/user-menu/user-menu.component-theme';
@import './styles/svg-theme';
@import './styles/ngx-datatable-theme';


//@import './styles/tables-theme';

// Styles for the default app that are based on the current theme.
@mixin material-default-app-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .default-app-background {
    background: mat-color($background, background);
  }

  .default-primary-header {
    background: mat-color($primary);

    h1 {
      color: mat-color($primary, default-contrast);
    }
  }

  .default-footer {
    background: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

//----
  app-side-menu{
    $sidemenu-app-primary: mat-palette($primary , 400);
    $sidemenu-app-accent:  mat-palette($accent , 900);
    $sidemenu-app-warn:    mat-palette($warn );
    $cdk-sidemenu-theme:   mat-dark-theme($sidemenu-app-primary, $sidemenu-app-accent,$sidemenu-app-warn);
    @include mat-list-theme($cdk-sidemenu-theme);
  }

  $primary-app-primary: mat-palette($primary , 400);
  $primary-app-accent:  mat-palette($accent , 900);
  $primary-app-warn:    mat-palette($warn );
  $cdk-theme:   mat-light-theme($primary-app-primary, $primary-app-accent,$primary-app-warn);

  app-side-menu-item{
    @include sidemenu-item($cdk-theme,20px)
  }

  @include admin($cdk-theme);
//----


  @include default-site-svg-theme($theme);
  //@include default-site-tables-theme($theme);
  @include footer-theme($theme);
  @include landing-page-theme($theme);
  @include nav-bar-theme($theme);
  @include ngx-datatable-theme($theme);
  @include user-menu-theme($theme);
}
