/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
//@import './styles/typography';
@import './app-theme';
@import './styles/preloader';
@import './styles/base';


// Include material core styles.
@include mat-core();

// Define the light theme.
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include material-default-app-theme($theme);

// 3rd party
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/src/themes/material.scss'; // material.scss or dark.scss
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
