/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-red);
$accent:  mat-palette($mat-blue);

$warn:    mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

// 3rd party
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/src/themes/material.scss'; // material.scss or dark.scss
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
