<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title></title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'></link>

</head>
<body style="margin: 0; padding: 0;">

    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
        <tr>
            <td align="center" bgcolor="#ffa100" style="padding: 5px 0 5px 0;">
                <p><h4>Sumo Service</h4></p>
            </td>
        </tr>
        <tr>
            <td bgcolor="#eaeaea" style="padding: 5px 5px 5px 5px;">
                <p>Dear Support Team,</p>
                <p><b>Title of the issue:</b> <h5>#{title}</h5></p>
                <p><b>Description of the issue:</b> <h5>#{comments}</h5></p>
                <p>Thanks</p>

            </td>
        </tr>
        <tr>
            <td bgcolor="#777777" style="padding: 10px 10px 10px 10px;">
                <p>#{name}</p>
            </td>
        </tr>
    </table>

</body>
</html>
